body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  color: #333;
}

#return-options-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

p {
  margin-bottom: 16px;
}

button {
  display: block;
  margin: 8px 0;
  padding: 10px;
  width: 100%;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
